.text-center{
  text-align: center;
}

.form {
  width: 600px;
  margin: 0 auto;
}

.data {
  margin-bottom: 1rem;
}

label {
  display: block;
  font-size: 1.4rem;
}

input, select {
  font-size: 1.5rem;
  width: 100%;
  padding: 6px;
  border-radius: 6px;
}

input[type='checkbox'] {
  width: unset;
}

label[for='acceptedConditions'] {
  display: inline-block;
}

#acceptedConditions {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 8px;
}

.error {
  background-color: red;
  color: white;
  text-align: center;
  font-size: 1.4rem;
  padding: 10px 4px;
  border-radius: 6px;
}

.error span:nth-child(2) {
  float: right;
  padding-right: 4px;
  cursor: pointer;
}

textarea {
width: 100%;
resize: none;
font-size: 1.5rem;
}

.error span:nth-last-of-type(1) {
  cursor: pointer;
}
