<h1 class="text-center">Kilátók értékelése</h1>
    <div class="form">

        <div class="data">
            <label for="viewpoint">Kilátó:</label>
            <select name="viewpointId" id="viewpoint" [(ngModel)]="selectedPoint">
                <option value="0" selected>Kérem válasszon</option>
                @for (viewPoint of viewPoints; track $index) {
                  <option [value]="viewPoint.id">{{viewPoint.viewpointName}} ({{viewPoint.mountain}})</option>
                }
            </select>
        </div>

        <div class="data">
            <label for="email">Az Ön e-mail címe:</label>
            <input type="text" id="email" name="email" [(ngModel)]="model.email">
        </div>

        <div class="data">
            <label for="rating">Értékelés:</label>
            <input type="range" min="1" max="10" id="rating" name="rating" [(ngModel)]="selectedrate">
        </div>

        <div class="data">
            <label for="rating">Megjegyzsés:</label>
            <textarea id="comment" name="comment" rows="3" [(ngModel)]="model.comment"></textarea>
        </div>

        <div class="data">
            <input type="checkbox" id="acceptedConditions" name="acceptedConditions" [(ngModel)]="ffe">
            <label for="acceptedConditions">Felhasználási feltételeket elfogadom</label>
        </div>

        <div class="data">
            <input type="button" value="Küldés" style="margin: 0 220px; width: 160px;" (click)="send()">
        </div>


        @if (errorMessage) {
          <div class="error">
              <span>{{errorMessage}}</span>
              <span (click)="errorMessage = ''">x</span>
          </div>
        }
    </div>
